Webpack (imports/exports)
    Babel
    SCSS
    Eslint (следит за чистатой кода)
     2 Modes (2 режима поддержки проэкта)
     - Dev
        Dev server (позвлояет автоматически перезагружать окно браузера, если произошли какие-то изменения)
        SourceMaps (Исходные карты; Показывает те модули, где мы вели разработку)
         Eslint (Служит для поддержки чистоты кода, и написания кода в едином стиле)
         Not Minified JS & CSS (не сжимаем код)
     - Prod
        Minified Code (сжимаем код, чтобы он быстрее грузился)

Git (Git flow) (Система контроля версий)
      Production
        1.0.0
        0 -----
      Development
        1.0.2
        Создание новой ветки (бранча)
        1 ------- | PR(Pull Request)
        2 ------- | --- пытается внедрить новую фичу поверх основного кода
         Если одобряют, проходит совмещение и остается одна ветка
        1 ----------


